.App {
  margin-top: 8px;
  margin-left: 8px;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

td {
  padding-left: 8px;
  padding-right: 8px;
}

.mainTable {
  border: 2px solid #0066ff;
}

span {
  margin-left: 16px;
}

.test {
  display: flex;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 8px;
}

.clickable {
  cursor: pointer;
}

.thumbsIcon {
  width: 16px;
  height: 16px;
}

.website {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 4px;
  width: 300px;
}

.websiteName {
  text-decoration: underline;
}

.withcolor {
  background-color: #99ccff;
}

button {
  margin-top: 8px;
  border: 1px solid #0066ff;
  background-color: #3399ff;
  color: white;
}

.addWebsiteButton {
  margin-left: 212px;
}

.modal {
  width: 500px;
  height: 150px;
  margin-left: 8px;
  margin-top: 400px;
  text-align: center;
}

.modal input {
  width: 150px;
}

.modal td {
  padding: 0px;
  width: 200px;
  color: #0066ff;
  margin: 0 auto;
}

.modalButtons {
  float: right;
}

.modalButtons button {
  margin: 10px;
}
