.App {
  margin-top: 8px;
  margin-left: 8px;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid #0066ff;
}

.thumbsIconTd,
.number {
  padding-left: 16px;
  padding-right: 16px;
}

.number {
  text-align: right;
  width: 64px;
}

.test {
  display: flex;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 8px;
}

.clickable {
  cursor: pointer;
}

.thumbsIcon {
  margin-top: 4px;
  width: 16px;
  height: 16px;
}

.website {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 4px;
  width: 300px;
}

.websiteName {
  text-decoration: underline;
}

.withcolor {
  background-color: #99ccff;
}

.addWebsiteButton {
  margin-top: 8px;
  border: 1px solid #0066ff;
  background-color: #3399ff;
  color: white;
}
